<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274683900479-tp6097eju2sshbgtdtlm5cbcbqj5ffsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274683900479-tp6097eju2sshbgtdtlm5cbcbqj5ffsv</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ2q3upk11aHDT2v-_eHzTMOQVtKVDoIY</string>
	<key>GCM_SENDER_ID</key>
	<string>274683900479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.libranner.dressasistant</string>
	<key>PROJECT_ID</key>
	<string>smartdresser-7d3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdresser-7d3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274683900479:ios:dee953586bb0271b</string>
	<key>DATABASE_URL</key>
	<string>https://smartdresser-7d3cb.firebaseio.com</string>
</dict>
</plist>